body{
    background-color:bisque;
    border: 15px black double;
    margin: 0%;
    padding-bottom: 100px;
}
img{
        width: 400;
        height: 550;
        margin-left: 180px;
        margin-top: 70px;
        margin-bottom: 0px;
        border: 15px palevioletred solid;
        border-radius: 30px;
 }
div{
    position: absolute;
    bottom: 0px;
    left:1000px;
    top: 250px;
    direction: rtl;
}
input{
    border: 5px rosybrown solid;
    border-radius: 10px;
    margin-top:5% ;
    margin-right: 23%;    
}
label{
    color: rgb(41, 36, 36);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}
.one{
    margin-right:0% ;
}
.two{
    margin-right: 12%;
}
p{
    font-size:20px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p input{
    margin-right: 0%;
}
input[type=reset]
{
    background-color: burlywood;
    font-size: 20px;
    margin-right: 12%;
}
input[type=submit]
{
    background-color: burlywood;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-top:20px ;
    color: coral;
    text-shadow: 2px 5px 0px rgb(146, 77, 52);
}
h2{
    text-align: center;
    font-size: 30px;
    margin-top:0px ;
    padding-top: 0px;
    color: coral;
    text-shadow: 2px 5px 0px rgb(146, 77, 52);
}
ul {
    list-style: none;
    position: absolute;        
    left:185px;
    top: 180px;
    height: 40px;
    width: 400px;
}
ul li{
    display: inline-block;
}
ul li a{
    background-color: rgb(255, 205, 230);
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right:8px ;
}
li a:hover{
    background-color: rgb(228, 25, 160);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
select{
    background-color: burlywood;
    font-size: 20px;
    border: 5px rgb(255, 205, 230) solid;
}
input[type=reset]:hover,input[type=submit]:hover
{
    border: 0px;
    border-bottom: 4px rgba(0, 0, 0, 0.703) solid;
    font-size: 15px;
}
